# Binaries for glab
cmd/glab/bin
bin
/CHANGELOG.md

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IntelliJ
.idea

# vim
*.sw*
*.vim

# test
_test

coverage*
vendor
log.txt

# VsCode
.vscode/

# Dist binaries created at build with make rt
dist

# GLab local config dir
test/testdata/.glab-cli

# The testdata-* copies created by the unit tests must be ignored or the tests
# will encounter write errors as Git attempts to add the dirs to its index.
test/testdata-*
.glab-cli
